{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="col-md-12" style="margin: 10px">
        <h2 class="msg">Edit</h2>
        <span class="uuid">Your unique ID - {{ uuid }} <a href="{% url 'import' %}">Change</a></span>
        <form action="." method="post" class="edit-form">{% csrf_token %}
            {{ formset.management_form }}
            <div id="forms">
                {% for form in formset %}
                    <div class="entry">
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% render_field field class="form-control" %}
                            </div>
                        {% endfor %}
                        <i class="fas fa-times" id="{{ forloop.counter|add:'-1' }}"></i>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-success" id="add_more"><i class="fas fa-plus"></i> Add more</button>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}