.uuid {
    float: right;
    font-size: 0.7em;
    margin-top: 20px;
}

.msg {
    display: inline-block;
    margin: 10px;
}

form {
    margin-left: 15px;
}

.form-group {
    display: inline-block;
    width: 45%;
}

.btn {
    display: block;
}

.fa-times {
    color: #eb0c0c;
    cursor: pointer;
    margin-left: .5em;
}

@media screen and (max-width: 768px) {
    .msg, .uuid {
        display: table;
        margin: 5px auto;
        float: initial;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 95%;
    }
}
